#clockcontainer{
    position: relative;
    height:40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: cover;
    margin: auto;
 
}

#hour , #minute , #second{
position: absolute;
background-color: black;
border-radius: 10px;
transform-origin:bottom ;
}
#hour{
    width: 2%;
    height: 19%;
    top:30%;
    left:49.2%;
    opacity: 0.8;
   
   
}

#minute{
    width: 2%;
    height: 28%;
    top: 21%;
    left: 49.3%;
    opacity:0.8;
    
   
    
}
#second{
    width: 1%;
    height: 36%;
    top: 13%;
    left: 49.3%;
    opacity: 0.8;
    }

    .btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #7934d9, #b82baf);
        background-image: -moz-linear-gradient(top, #7934d9, #b82baf);
        background-image: -ms-linear-gradient(top, #7934d9, #b82baf);
        background-image: -o-linear-gradient(top, #7934d9, #b82baf);
        background-image: linear-gradient(to bottom, #7934d9, #b82baf);
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px;
        text-decoration: none;
        display: block;
        margin: auto;
        margin-top: 20px;
        position: absolute;
        left: 40vw;
        top: 6vw;
    } 

    .btn:hover {
        background: #ffffff;
        text-decoration: none;
        border: 2px solid plum;
      }

.insta{
    position: relative;


}
  

  
